# Ignore all logfiles and tempfiles.
log/**/*.*
tmp/**/*
!log/.keep
!tmp/.keep

app/assets/images/**/
.sass-cache/

.bundle
.fleet
.irb_history
public/assets
public/fonts
public/challenge
storage
node_modules
acme

config/credentials/production.key
config/credentials/development.yml.enc
config/credentials/test.yml.enc
config/certs
config/alipay_rsa2.pem
config/apiclient_key.pem

vendor/bundle

app/assets/builds/*
!app/assets/builds/.keep
app/views/*
!app/views/admin
!app/views/application
!app/views/auth
!app/views/auth_ext
!app/views/bench
!app/views/board
!app/views/crm
!app/views/factory
!app/views/home
!app/views/layouts
!app/views/me
!app/views/my
!app/views/official
!app/views/panel
!app/views/trade
!app/views/waiting
