[submodule "docker"]
  path = docker
  url = git@github.com:work-design/docker.git
[submodule "engine/rails_com"]
  path = engine/rails_com
  url = git@github.com:work-design/rails_com.git
[submodule "engine/rails_crm"]
  path = engine/rails_crm
  url = git@github.com:work-design/rails_crm.git
[submodule "engine/rails_cms"]
  path = engine/rails_cms
  url = git@github.com:work-design/rails_cms.git
[submodule "engine/rails_doc"]
  path = engine/rails_doc
  url = git@github.com:work-design/rails_doc.git
[submodule "engine/rails_org"]
  path = engine/rails_org
  url = git@github.com:work-design/rails_org.git
[submodule "engine/rails_auth"]
  path = engine/rails_auth
  url = git@github.com:work-design/rails_auth.git
[submodule "engine/rails_data"]
  path = engine/rails_data
  url = git@github.com:work-design/rails_data.git
[submodule "engine/rails_quip"]
  path = engine/rails_quip
  url = git@github.com:work-design/rails_quip.git
[submodule "engine/rails_ship"]
  path = engine/rails_ship
  url = git@github.com:work-design/rails_ship.git
[submodule "engine/rails_sync"]
  path = engine/rails_sync
  url = git@github.com:work-design/rails_sync.git
[submodule "engine/rails_audit"]
  path = engine/rails_audit
  url = git@github.com:work-design/rails_audit.git
[submodule "engine/rails_bench"]
  path = engine/rails_bench
  url = git@github.com:work-design/rails_bench.git
[submodule "engine/rails_email"]
  path = engine/rails_email
  url = git@github.com:work-design/rails_email.git
[submodule "engine/rails_event"]
  path = engine/rails_event
  url = git@github.com:work-design/rails_event.git
[submodule "engine/rails_trade"]
	path = engine/rails_trade
	url = git@github.com:work-design/rails_trade.git
[submodule "engine/rails_attend"]
	path = engine/rails_attend
	url = git@github.com:work-design/rails_attend.git
[submodule "engine/rails_design"]
	path = engine/rails_design
	url = git@github.com:work-design/rails_design.git
[submodule "engine/rails_detail"]
	path = engine/rails_detail
	url = git@github.com:work-design/rails_detail.git
[submodule "engine/rails_douyin"]
	path = engine/rails_douyin
	url = git@github.com:work-design/rails_douyin.git
[submodule "engine/rails_growth"]
	path = engine/rails_growth
	url = git@github.com:work-design/rails_growth.git
[submodule "engine/rails_notice"]
	path = engine/rails_notice
	url = git@github.com:work-design/rails_notice.git
[submodule "engine/rails_wechat"]
	path = engine/rails_wechat
	url = git@github.com:work-design/rails_wechat.git
[submodule "engine/rails_factory"]
	path = engine/rails_factory
	url = git@github.com:work-design/rails_factory.git
[submodule "engine/rails_finance"]
	path = engine/rails_finance
	url = git@github.com:work-design/rails_finance.git
[submodule "engine/rails_space"]
	path = engine/rails_space
	url = git@github.com:work-design/rails_space.git
[submodule "engine/rails_interact"]
	path = engine/rails_interact
	url = git@github.com:work-design/rails_interact.git
[submodule "engine/rails_markdown"]
	path = engine/rails_markdown
	url = git@github.com:work-design/rails_markdown.git
[submodule "engine/rails_qingflow"]
	path = engine/rails_qingflow
	url = git@github.com:work-design/rails_qingflow.git
[submodule "engine/rails_bluetooth"]
	path = engine/rails_bluetooth
	url = git@github.com:work-design/rails_bluetooth.git
