<div class="weui-panel">
  <div class="weui-panel__hd">我的</div>
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_small-appmsg">
      <div class="weui-cells">
        <%= render 'index_item' %>
      </div>
    </div>
  </div>
</div>
