<div class="weui-panel">
  <div class="weui-panel__hd">我的</div>
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_small-appmsg">
      <div class="weui-cells">
        <%= link_to my_profile_path, class: 'weui-cell weui-cell_access' do %>
          <div class="weui-cell__bd">
            <i class="fas fa-book-medical"></i>
            <span>档案</span>
          </div>
          <div class="weui-cell__ft"></div>
        <% end %>
        <%= link_to({ controller: 'trade/my/orders' }, class: 'weui-cell weui-cell_access') do %>
          <div class="weui-cell__bd">
            <i class="fas fa-store"></i>
            <span>订单</span>
          </div>
          <div class="weui-cell__ft"></div>
        <% end %>
        <%= link_to({ controller: 'trade/my/cards' }, class: 'weui-cell weui-cell_access') do %>
          <div class="weui-cell__bd">
            <i class="fas fa-credit-card"></i>
            <span>会员</span>
          </div>
          <div class="weui-cell__ft"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
