<div class="weui-panel">
  <div class="weui-panel__hd level is-flex mb-0">
    <div class="level-left">
      <span class="level-item"><%= t('.title') %></span>
    </div>
    <div class="level-right mt-0">
      <button class="button is-borderless" data-controller="weui-actionsheet" data-weui-actionsheet-id-value="actionsheet" data-action="weui-actionsheet#toggle">
        <i class="fas fa-ellipsis-h fa-lg"></i>
      </button>
    </div>
  </div>
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_small-appmsg">
      <div class="weui-cells">
        <%= render 'index_item' %>
      </div>
    </div>
  </div>
</div>
<%= render 'actionsheet' %>
