<%= link_to({ controller: 'crm/me/maintains' }, class: active_helper(controllers: 'crm/me/maintains', item: 'weui-tabbar__item', active: 'weui-tabbar__item weui-bar__item_on')) do %>
  <i class="fa-solid fa-house weui-tabbar__icon"></i>
  <div class="weui-tabbar__label"><%= t('crm.me.maintains.index.title') %></div>
<% end %>
<%= link_to({ controller: '/me/home' }, class: active_helper(controllers: 'me/home', item: 'weui-tabbar__item', active: 'weui-tabbar__item weui-bar__item_on')) do %>
  <i class="fa-solid fa-user weui-tabbar__icon"></i>
  <div class="weui-tabbar__label"><%= t('me.home.index.title') %></div>
<% end %>
