<section class="hero is-medium is-light">
  <div class="container py-6">
    <h2 class="title has-text-centered">我们的优势</h2>
    <a href="https://github.com/work-design/home" target="_blank" class="has-text-link">了解更多>></a>
  </div>
  <div class="tile is-parent container is-fullwidth">
    <div class="tile is-child is-vertical notification is-info">
      <h2 class="title is-4">高效能开发技术</h2>
      <p>代码量低至同行的五分之一以下</p>
      <p>软件性能肉眼可见高于市面绝大部分应用</p>
      <p>基于硅谷创业公司首选技术体系进化而来</p>
    </div>
    <div class="tile is-child is-vertical notification is-warning">
      <h2 class="title is-4">不断降低技术门槛</h2>
      <p>数据天然互通，打破数据孤岛</p>
      <p>引领软件能力普及，实现技术普惠</p>
      <p>中小企业也能自主研发</p>
    </div>
    <div class="tile is-child is-vertical notification is-success">
      <h2 class="title is-4">不止于软件</h2>
      <p>软件是管理体系的载体，我们的研发基于一套前沿的管理理论体系</p>
    </div>
    <div class="tile is-child is-vertical notification is-link">
      <h2 class="title is-4">无保留开源</h2>
      <p>代码无保留开源，免除后顾之忧</p>
      <p>研发团队托管，共享研发能力与生态</p>
      <div class="buttons">
        <a href="https://github.com/work-design" target="_blank" class="button is-info">
          <span class="icon"><i class="fab fa-github"></i></span>
          <span>Github</span>
        </a>
        <a href="https://gitee.com/work-design" target="_blank" class="button is-warning">
          <span class="icon"><i class="fab fa-git-alt"></i></span>
          <span>码云</span>
        </a>
      </div>
    </div>
  </div>
</section>
