<section class="hero is-medium">
  <div class="container">
    <h2 class="title py-6">
      <a href="/why">渐进式数字化</a>
    </h2>
  </div>
  <div class="tile is-parent container is-fullwidth">
    <div class="tile is-vertical is-4 p-4 mr-4 has-background-primary-light">
      <h2 class="is-size-4">
        <i class="fa-solid fa-1 has-text-warning"></i>
        <span>立即开始</span>
      </h2>
      <p>多能系统注册即用</p>
      <p>全链条，打通上下游</p>
      <p>全周期，涵盖全业务</p>
    </div>
    <div class="tile is-vertical is-4 p-4 mr-4 has-background-link-light">
      <h2 class="is-size-4">
        <i class="fa-solid fa-2 has-text-warning"></i>
        <span>为业务定制</span>
      </h2>
      <p>数据随时下载</p>
      <p>定制个性化需求</p>
    </div>
    <div class="tile is-vertical p-4 has-background-info-light">
      <h2 class="is-size-4">
        <i class="fa-solid fa-3 has-text-warning"></i>
        <span>自主研发</span>
      </h2>
      <p>自主研发，开源代码助力</p>
      <p>最先进的技术团队管理体系</p>
      <p>共享底层技术，还共享技术专家</p>
    </div>
  </div>
</section>
