<div class="hero is-info">
  <div class="hero-body container">
    <h1 class="title has-text-centered has-text-white">渐进式数字化解决方案</h1>
  </div>
</div>
<section class="hero">
  <div class="hero-body container">
    <h2 class="title is-4 has-text-centered">软件能力不应是奢侈品</h2>
    <div class="content">

    </div>
  </div>
</section>
<section class="hero is-light">
  <div class="hero-body container">
    <h2 class="title is-4 has-text-centered">大部分商家数字化的方式</h2>
    <div class="content">

    </div>
  </div>
</section>
<section class="hero">
  <div class="hero-body container is-full">
    <h2 class="title is-4 has-text-centered">为什么选择渐进式数字化方案？</h2>

  </div>
</section>
