<div class="hero is-info">
  <div class="hero-body container" style="width: 100%">
    <h1 class="title has-text-centered has-text-white">渐进式数字化解决方案</h1>
  </div>
</div>
<section class="hero">
  <div class="hero-body container" style="width: 100%">
    <h2 class="title">软件能力依然是奢侈品</h2>
    <div class="content">
      <p>互联网从诞生至今，对各行各业均产生了深远的影响，同时互联网模式的商业模式也对传统模式的商业造成了巨大的冲击。</p>
    </div>
  </div>
</section>
