<div class="hero is-info">
  <div class="hero-body container" style="width: 100%">
    <h1 class="title has-text-centered has-text-white">渐进式数字化解决方案</h1>
  </div>
</div>
<section class="hero">
  <div class="hero-body container" style="width: 100%">
    <h2 class="title is-4 has-text-centered">软件能力不应是奢侈品</h2>
    <div class="content">
      <p>互联网从诞生至今，对各行各业均产生了深远的影响，基于互联网的商业模式也对传统的商业模式造成了巨大的冲击。尤其对于信息流动、数据决策、粉丝(社交、熟客)管理相关的行业，互联网对传统形成的是降维打击。</p>
      <p>到目前为止，经过数代的演进，软件的门槛和成本理应越来越低。然而现状却是：数字化成本依然很高，开发人员的工资是普通员工的2-3倍以上。很大一部分原因是很多技术体系是从大型互联网公司流传出来的，而源自大型互联网企业的技术体系往往是为工程化而生的，专为大规模团队服务的。</p>
      <p>对于小微企业，工程化且分工精细的开发体系带来的是成本高昂，效率低下。Work Design 的技术体系则是专为小微企业、个人工作室量身定制的开发体系，同时也是源于我们小型团队的实践。</p>
    </div>
  </div>
</section>
<section class="hero is-light">
  <div class="hero-body container" style="width: 100%">
    <h2 class="title is-4 has-text-centered">大部分商家数字化的方式</h2>
    <div class="content">
      <p>对于普通商家而言，拥抱互联网最简单的方式就是成为平台的"供应商"，在对方的平台规则下为平台的用户提供服务。当然，利润的大头被平台拿走了。</p>
      <p>对于不愿忍受平台"剥削"的商家，购买软件或使用 SaaS 软件自建平台成为了新的选择。虽然有了自主性，然后大部分的Saas软件为了兼容不同的商家，推出了冗余的功能，造成软件要么使用复杂，给用户带来的体验不佳。商家的软件能力受制于软件提供商，Saas 软件成为了商家成长的天花板。</p>
      <p>有实力的传统商家，选择自建团队，自主研发。然后很多老板对IT部门或短期期望过高，或理解不透彻，造成投入高，回报低的困局。</p>
    </div>
  </div>
</section>
<section class="hero">
  <div class="hero-body container" style="width: 100%">
    <h2 class="title is-4 has-text-centered">为什么选择渐进式数字化方案？</h2>
    <p>Work Design 采用的技术是一套效率极高的 Web 应用开发体系，基于硅谷创业公司首选的技术体系演进而来，基于这套技术我们开发了若干功能组件。</p>
    <p>基于这些通用组件，针对不同的行业，提供 SaaS 系统服务，商家可以以低于市场价的成本使用我们的 Saas 服务。</p>
    <p>当 Saas 系统所提供的功能不能满足你的需求时，可联系我们的开发团队进行定制化开发并私有部署。</p>
    <p>同时我们已将所有通用组件全部开源，当你的业务发展到有能力自主开发的时候，可随时自主开发。</p>
    <p>伴随着你的企业成长，你可以循序渐进的加大投入，获得更大的收益。在整个过程中，你的数据和服务都不会中断。</p>
  </div>
</section>
