$menu-item-active-background-color: #00d1b2;

$body-size: 15px;
$table-head-cell-border-width: 0 0 1px;

//@import '~@fullcalendar/common/main';
//@import '~@fullcalendar/daygrid/main';
@import 'rails_design_engine_ui/stylesheets/app.scss';
@import '@fortawesome/fontawesome-free/css/all.css';
