<footer class="footer">
  <div class="container">
    <div class="divided row">

    </div>
    <div class="content has-text-centered">
      <div class="">©<%= Date.today.year %> <%= (defined?(current_organ) && current_organ.name) || t('site_name') %> All Rights Reserved.</div>
      <div>
        <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow"><%= (defined?(current_organ) && current_organ.organ_domain&.beian) %></a>
      </div>
    </div>
  </div>
</footer>
